{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block main %}    
<main>
   <h2>provide better care outcomes </h2>
   <p><span class="nz-health">Health Management Case System</span> removes the need for spreadsheets and paper-based forms. The smart software solution enables your team to securely access client information on-the-go from multiple devices.</p>
   <p><span class="nz-health">Health Management Case System</span> supporting your teams in delivering better client care, with the right information available, for better outcomes.</p>
</main>
<!-- <aside>
   <div>
      <h2>Cardiac Services</h2>
      <img src="../static/images/Cardiac-Services.jpg" alt="Cardiac Services">
      <p>A private, comprehensive and high quality service was set up in Christchurch in 2003 to meet the growing demand for high quality cardiac services.</p>
   </div>
   <div>
      <h2>Surgical Services</h2>
      <img src="../static/images/surgical-services.jpg" alt="surgical-services">
      <p>Leading the way in providing care and technology, New Zealand Health offers a large variety of surgical services.</p>
   </div>
</aside> -->
{% endblock %}