{% extends 'base.html' %}
{% block main %}

<div class="table">
    <h2>patient list</h2>
<table id="table-people">    
    <thead>
    <tr>  
        <th>Id</th> 
        <th>Name</th>  
        <th></th>
    </tr>  
    </thead>
    <tbody>  
    {% for person in people %}
    <tr>  
        <td>{{ person.id}}</td>
        <td>{{ person.lastName }} {{ person.firstName }}</td>  
        <td><a href="/show_person/{{ person.id }}">record</a> <a href="/delete_person/{{ person.id }}">delete</a> <a href="/edit_person/{{ person.id }}">edit</a></td>  
    </tr>    
    {% endfor %}      
    </tbody>  
</table> 
<br>
<center><a href="{% url 'create_person' %}">Add New Data</a></center> 
</div>

<!-- <aside>
    <div>
        <h2>Cardiac Services</h2>
        <img src="../static/images/Cardiac-Services.jpg" alt="Cardiac Services">
        <p>A private, comprehensive and high quality service was set up in Christchurch in 2003 to meet the growing demand for high quality cardiac services.</p>
    </div>
    <div>
        <h2>Surgical Services</h2>
        <img src="../static/images/surgical-services.jpg" alt="surgical-services">
        <p>Leading the way in providing care and technology, New Zealand Health offers a large variety of surgical services.</p>
    </div>
</aside> -->
{% endblock %}